:root{
    --negro: #333333;
    --blanco: #FFFFFF;
    --vino: #750000;
    --mostaza: #FBBF33;
    --fondo: #F1F3F2;
    --naranja: #EE5A24;
    --español: #5192CD;
    --mate: #BF5582;
    --lengua: #42599B;
    --ciencias: #EDB125;
    --historia: #F89C3D;
    --geografia: #F3712A;
    --formacion: #C65925;
    --verde: #5CED32;
    --rojo: #FA051E;
    --amarillo: #F8DA07;

}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body, html{
    width: 100%;
    height: auto;
}

.altura{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.flex-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.start{
    justify-content: flex-start !important;
}

.end{
    justify-content: flex-end !important;
}

.space{
    justify-content: space-around !important;
}

.between{
    justify-content: space-between;
}

.center{
    text-align: center;
}

.wrapper {
    width: 100%;
    top: 50px;
    float: left;
    position: relative;
    overflow-y: none !important;
}

.nopadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

p, h1, h2, h3, h4{
    cursor: default;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}
textarea::-webkit-inner-spin-button, 
textarea::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}

.modal{
    z-index: 99999999 !important;
}
    .btmodal{
        height: 35px;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        background: var(--naranja);
        color: var(--blanco);
        outline: none !important;
    }
    .semodal{
        height: 30px;
        width: 50%;
        border-radius: 5px;
        outline: none !important;
        cursor: pointer;
    }
    .pmodal{
        margin-bottom: 0px !important;
        margin-top: 10px;
        color: rgba(0,0,0,.5);
        font-size: .9em;
    }
    .inmodal{
        width: 100%;
        height: 30px;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.3);
        outline: none !important;
        margin-bottom: 2px;
        resize: none;
    }
        .inmodal[target] {
          background-color: yellow;
        }

/*Toltip*/
[data-title]:hover:before{
    content: attr(data-title);
    bottom: -10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(0,0,0,.5);
}

.back{
    border: none;
    background: none;
    font-size: .9em;
    margin-bottom: 5px;
    color: rgba(0,0,0,.6);
}

/*Navbar*/
.barra{
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--naranja);
    padding: 5px;
    box-sizing: border-box;
    z-index: 9999;
}
    .barra .img{
        float: left;
        position: relative;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: var(--mostaza);
        margin: 5px 0;
    }
    .barra .titulo{
        float: left;
        position: relative;
        margin-top: 12px !important;
        margin-bottom: 10px !important;
        margin-left: 10px !important;
        font-size: 1.2em;
        font-weight: 400;
        color: var(--blanco);
    }

/*Sidebar*/
#sidebar {
    max-width: 250px;
    min-width: 250px;
    transition: 0.3s;
    transform-origin: bottom left;
    padding-left: 0px !important;
    padding-right: 0px !important;
    justify-content: space-between !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    height: calc(100% - 50px);
}
    #sidebar.active{
        margin-left: -250px;
        transition: all .3s;
        position: fixed;
        top: 50px;
        bottom: 0;
    }
    #sidebarCollapse{
        width: 25px;
        height: 25px;
        cursor: pointer !important;
        float: left;
        position: relative;
        margin-left: 10px;
    }
    #sidebarCollapse span{
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: var(--blanco) !important;
        color: var(--blanco);
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;
        cursor: pointer;
    }
    #sidebarCollapse span:first-of-type{
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse span:nth-of-type(2){
        opacity: 0;
    }
    #sidebarCollapse span:last-of-type{
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #sidebarCollapse.active span{
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .cuenta{
        float: right;
        height: 100%;
        width: auto;
        margin-right: 10px;
        right: 10px;
    }
            .cuenta p{
                color: var(--blanco);
                font-size: 1em;
                margin: 10px 0;
            }
            .cuenta i{
                color: var(--blanco);
                font-size: 1.2em;
                border-radius: 50%;
                margin-left: 5px;
                cursor: pointer;
            }
/*Contenido*/
#content{
    width: 100%;
    height: calc(100% - 50px);
    float: left;
    position: relative;
    overflow-y: auto;
    transition: all 0.3s;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: var(--fondo);
}
    #content.active{
        width: 100%;
        left: 0;
    }
    .contenedor{
        background: var(--blanco);
        float: left;
        position: relative;
        padding: 15px !important;
        min-height: 85vh;
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        border-radius: 5px;
    }
        .contenedor h1{
            margin-top: 0px !important;
            font-size: 2em;
            color: var(--negro);
        }
        .contenedor ol li a{
            color: var(--naranja);
            font-weight: 500;
            cursor: default;
            text-decoration: none;
            font-size: 1.2em;
        }

        .grupo{
            height: 200px;
            float: left;
            position: relative;
            margin-left: 6%;
            margin-top: 10px;
            border: 2px solid var(--fondo);
            border-radius: 5px;
            cursor: pointer;
        }
            .grupo:hover{
                background: var(--fondo);
                border: none !important;
            }
            .grupo p{
                font-size: 2.5em;
                color: var(--negro);
            }
        .materia{
            height: 200px;
            float: left;
            position: relative;
            margin-left: 6%;
            margin-top: 20px;
            border: 2px solid var(--fondo);
            border-radius: 5px;
            cursor: pointer;
            overflow: hidden !important;
            color: var(--negro);
        }
            .español{
                border-bottom: 5px solid var(--español) !important;
            }
                .español:hover{
                    background: var(--español);
                    border: none !important;
                }
                .mate:hover{
                    background: var(--mate);
                    border: none !important;
                }
                .historia:hover{
                    background: var(--historia);
                    border: none !important;
                }
                .lengua:hover{
                    background: var(--lengua);
                    border: none !important;
                }
                .ciencias:hover{
                    background: var(--ciencias);
                    border: none !important;
                }
                .geografia:hover{
                    background: var(--geografia);
                    border: none !important;
                }
                .formacion:hover{
                    background: var(--formacion);
                    border: none !important;
                }
                .materia:hover{
                    color: var(--blanco) !important;
                }
            .mate{
                border-bottom: 5px solid var(--mate) !important;
            }
            .historia{
                border-bottom: 5px solid var(--historia) !important;
            }
            .lengua{
                border-bottom: 5px solid var(--lengua) !important;
            }
            .ciencias{
                border-bottom: 5px solid var(--ciencias) !important;
            }
            .geografia{
                border-bottom: 5px solid var(--geografia) !important;
            }
            .formacion{
                border-bottom: 5px solid var(--formacion) !important;
            }
            .materia p{
                font-size: 1.2em;
                margin-top: 10px;
            }
            .materia img{
                height: 90px;
            }
        .alumno{
            height: auto;
            float: left;
            position: relative;
            margin-top: 20px;
            background: var(--fondo);
            border-radius: 5px;
            margin-left: 5%;
            padding: 10px;
            box-sizing: border-box;
        }
            .alumno h2{
                width: auto;
                font-size: 1.2em;
                float: left;
                position: relative;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }
            .alumno i{
                float: left;
                position: relative;
                margin-left: 10px;
                cursor: pointer;;
            }
            .alumno input{
                outline: none;
                padding: 3px;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid rgba(0,0,0,.2);
                float: left;
                position: relative;
                width: 100px;
            }

        .titulo-act{
            font-size: 1.5em !important;
            text-align: center;
            color: var(--negro);
            padding-top: 10px !important;
            box-sizing: border-box;
        }
        .actividad{
            height: auto;
            float: left;
            position: relative;
            margin-left: 6%;
            margin-top: 20px;
            border: 2px solid var(--fondo);
            border-radius: 5px;
            overflow: hidden !important;
            color: var(--negro);
            text-align: justify;
            padding: 10px;
            box-sizing: border-box;
        }
            .circle{
                border-radius: 50%;
                float: left;
                position: relative;
                width: 100px;
                height: 100px;
                padding: 20px;
                font-weight: bold;
                font-size: 3em;
                color: var(--blanco);
            }
            
            .verde{
                background: var(--verde);
            }
            .rojo{
                background: var(--rojo);
            }
            .amarillo{
                background: var(--amarillo);
            }
            .actividad h2{
                font-size: 1.4em;
            }
            .actividad b{
                float: left;
                position: relative;
                line-height: 32px;
            }
            .actividad p{
                font-size: 1em;
                margin: 5px;
                float: left;
                position: relative;
            }
        /*.contenedor #tabla{
            margin: 10px 0;
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
            #tabla table{
                margin-bottom: 0px !important;
                border-collapse: collapse;
                color: var(--texo);
            }
            #tabla table thead tr th{
                border-bottom: none !important;
            }
            #tabla table tr{
                border-top: transparent !important;
            }
            #tabla table .noback{
                background: #D4D4D4 !important;
            }
            #tabla table tr:nth-child(odd){
                background: #F7F7F7;
            }
            #tabla table tr:nth-child(even) {
                background: #FCFCFC;
            }*/


@media (max-width: 768px) {
    .barra{
        top: 0;
        left: 0;
        position: fixed;
    }
        .barra .titulo{
            font-size: 1.2em;
        }
    .wrapper.active{
        position: fixed;
        top: 50px;
        left: 0;
    }
    #sidebar{
        margin-left: -250px;
        transition: all .3s;    
    }
    #sidebar.active {
        margin-left: 0;
        height: calc(100% - 50px);
        position: fixed;
        top: 50px;
    }
    .content {
        width: 100% !important;
        left: 0px !important;
    }
    .content.active {
        left: 250px !important;
        transition: all .3s;
    }
    #sidebarCollapse span{
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: var(--blanco) !important;
        color: var(--blanco);
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;
        cursor: pointer;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
/*Tabla*/
    table, thead, tbody, th, td, tr {
        display: block;
    }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
            height: auto !important;
        }
        td {
            border: none;
            position: relative;
            padding-left: 50% !important;
            font-size: .9em;
            height: auto !important;
        }
        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        #tabla td:nth-of-type(n):before{
            content: attr(data-title);
            font-weight: bold !important;
            padding: 5px;
            box-sizing: border-box;
            height: auto !important;
        }
    /*Contenido*/
    .grupo{
        margin-left: 0% !important;
    }
    .materia{
        margin-left: 0% !important;
    }
        .materia p{
            font-size: 1.2em;
        }
    .alumno{
        margin-left: 0% !important;
    }
        .alumno h2{
            font-size: .8em;
        }
    .actividad{
        margin-left: 0% !important;
    }
}

@media (max-width: 800px) {
    .materia{
        margin-left: 0% !important;
    }
}